---
import Layout from "../layouts/Layout.astro"
---
<!DOCTYPE html>
<html lang="en-pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<Layout>
<body>
</body>
</Layout>
</html>
